:root {
  --border: #555;
  --demo-max-width: 400px;
  --surface: rgba(125, 125, 125, 0.1);
  --surface-heavy: rgba(125, 125, 125, 0.25);
  --theme-color: #ffab00;
  --theme-weak: #30230e;
  color-scheme: dark;
  font-family: sans-serif;
  line-height: 1.75;
  scroll-behavior: smooth;
}

html,
body {
  color: #d3d3d3;
  margin: 0;
  min-height: 100vh;
}

body::part(wrapper) {
  margin-left: var(--sidebar-width);
}

@media (min-width: 1200px) {
  body:has(app-sidebar) {
    --sidebar-width: 225px;
  }
  app-sidebar {
    display: flex;
  }
}

@media (min-width: 1600px) {
  body:has(app-sidebar) {
    --sidebar-width: calc(50vw - 50ch);
  }
  body:has(app-sidebar)::part(wrapper) {
    margin-left: 0;
  }
  app-sidebar {
    justify-content: flex-end;
    padding-top: 7rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-weight: normal;
  margin-bottom: 1rem;
  scroll-margin-top: 3rem;
}

.docs h2 {
  border-bottom: 1px solid var(--border);
  line-height: 1;
  margin-bottom: 1rem;
  margin-top: 2em;
  padding-bottom: 1rem;
}

h3 {
  margin-top: 2em;
}

.docs a {
  color: inherit;
  text-decoration-color: var(--theme-color);
}

.demo-link {
  --length: calc(100% - 8px);
  background: var(--theme-weak);
  box-sizing: border-box;
  clip-path: polygon(
    8px 0%,
    100% 0,
    100% var(--length),
    var(--length) 100%,
    0 100%,
    0% 8px
  );
  color: var(--theme-color);
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.demo-link:hover {
  background: var(--theme-color);
  color: var(--theme-weak);
}

.demo-link::part(link) {
  color: inherit;
  display: inline-block;
  padding: 0.55rem 1rem;
  text-decoration: none;
}

code[class*='language-'],
pre[class*='language-'] {
  font-size: 14px;
  line-height: 2;
}

code:not([class^='language']) {
  border: 1px solid var(--border);
  font-size: 14px;
  padding: 2px 2px;
}
