:root {
  --border: #555;
  --demo-max-width: 400px;
  --sidebar-width: 250px;
  --surface: #080808;
  --surface-heavy: #1f1f1f;
  --theme-color: #ffab00;
  --theme-weak: #30230e;
  color-scheme: dark;
  font-family: sans-serif;
  line-height: 1.75;
  scroll-behavior: smooth;
}

@media (min-width: 1600px) {
  :root {
    --sidebar-width: calc(50vw - 50ch);
  }
}

body {
  background: black;
  color: #d3d3d3;
  margin: 0;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-weight: normal;
  margin-bottom: 1rem;
  scroll-margin-top: 3rem;
}

.home h2,
.ramidus h2 {
  border-bottom: 1px solid var(--border);
  line-height: 1;
  margin-bottom: 1rem;
  margin-top: 2em;
  padding-bottom: 1rem;
}

h3 {
  margin-top: 2em;
}

a {
  color: inherit;
  text-decoration-color: var(--theme-color);
}

.demo-link-container {
  filter: drop-shadow(0 0 1px var(--theme-color));
}

.demo-link {
  background: var(--theme-weak);
  box-sizing: border-box;
  clip-path: polygon(
    12px 0%,
    100% 0,
    100% calc(100% - 12px),
    calc(100% - 12px) 100%,
    0 100%,
    0% 12px
  );
  color: var(--theme-color);
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.demo-link:hover {
  background: var(--theme-color);
  color: var(--theme-weak);
}

.demo-link::part(link) {
  color: inherit;
  display: inline-block;
  padding: 0.55rem 1rem;
  text-decoration: none;
}

home-grid p {
  margin: 0;
}

pre code[class*='language-'] {
  padding: 0.5em;
}

code[class*='language-'],
pre[class*='language-'] {
  font-size: 14px;
  line-height: 2;
}

code:not([class^='language']) {
  border: 1px solid var(--border);
  font-size: 14px;
  padding: 2px 2px;
}

.highlight-lines {
  position: relative;
}

.highlight-lines .highlight {
  background: rgba(82, 173, 242, 0.1);
  font-size: 14px;
  height: calc(2em * var(--lines, 1));
  left: 0;
  position: absolute;
  top: calc(2em * var(--line) - 1.5em);
  width: 100%;
}

.demos h2 {
  margin-top: 3rem;
}

.tree ul {
  list-style: none;
  padding: 0 0 0 0.75rem;
}

table,
th,
td {
  border: 1px solid var(--border);
  border-collapse: collapse;
  padding: 0.5rem;
}
