:root {
	--gap: max(1rem, 3vw);
	--primary: #ffab00;
	--primary-dark: #7e5400;
	background: #131314;
	color: #fff;
	font-family: sans-serif;
}

body {
	margin: 0;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('/ardi/font/JetBrainsMono-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

img {
	display: block;
}

nav {
	align-items: center;
	background: #000;
	display: flex;
	justify-content: space-between;
	padding: 0 1rem;
	position: sticky;
	top: 0;
	z-index: 999;
}

nav div {
	display: flex;
	gap: 1rem;
}

nav a {
	align-items: center;
	color: #fff;
	display: flex;
	height: 4rem;
	text-decoration: none;
}

nav > a {
	font-family: 'JetBrains Mono';
}

nav a.active {
	color: var(--primary);
}

nav a:hover {
	color: var(--primary);
}

nav a:hover ~ a {
	color: #fff;
}

main {
	margin: 2rem auto;
	max-width: 1200px;
	padding: 1rem var(--gap);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'JetBrains Mono';
}

p,
li {
	line-height: 1.5;
}

code,
.code {
	color: var(--primary);
	font-family: 'JetBrains Mono';
	font-size: 0.9em;
}

.npm {
	border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
	border-style: solid;
	border-width: 2px;
	color: unset;
	display: inline-block;
	margin-top: 0.5rem;
	padding: 0.5rem 1rem;
	text-decoration: none;
}

.npm:hover {
	background: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff);
}

@keyframes float {
	0% {
		transform: translateY(0);
	}

	25% {
		transform: translateY(-10%);
	}

	50% {
		transform: translateY(0);
	}

	75% {
		transform: translateY(10%);
	}

	100% {
		transform: translateY(0);
	}
}

.feature-grid {
	display: grid;
	gap: 1.5rem;
}

@media (min-width: 1024px) {
	.feature-grid {
		display: flex;
	}
}

.feature-card {
	background: #000;
	border: 1px solid rgba(125, 125, 125, 0.5);
	border-radius: 8px;
	display: grid;
	flex-basis: 33%;
	grid-template-rows: auto auto 1fr auto;
	justify-content: center;
	padding: 1.5rem;
	text-align: center;
}

.feature-card img {
	aspect-ratio: 4/3;
	object-fit: contain;
	width: 100%;
}

.feature-card a {
	text-decoration: none;
}

hr {
	background: rgba(125, 125, 125, 0.5);
	border: none;
	height: 1px;
	margin: 2.5rem 0;
}

a {
	color: var(--primary);
	text-decoration-color: var(--primary-dark);
}

.demo-header {
	display: grid;
	align-items: baseline;
	justify-content: space-between;
	gap: 1rem;
}

.demo-header h3 {
	margin: 0;
}

@media (min-width: 768px) {
	.demo-header {
		display: flex;
	}
}

.demos a[href*='playground'] {
	align-items: center;
	display: inline-flex;
	font-family: 'JetBrains Mono';
	font-size: 14px;
	gap: 0.25rem;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.5s;
}

.demos a[href*='playground']:hover {
	gap: 0.75rem;
}

.demos a[href*='playground']:after {
	content: '';
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M4 11V13H16L10.5 18.5L11.92 19.92L19.84 12L11.92 4.08L10.5 5.5L16 11H4Z' fill='%23ffab00' /%3E%3C/svg%3E");
	display: inline-block;
	height: 1.5em;
	position: relative;
	top: -1px;
	width: 1.5em;
}

.demos ol {
	margin-bottom: 2rem;
}

.demos .container {
	display: flex;
	flex-flow: row wrap;
	gap: 1rem;
}

.demos .container.vert {
	flex-flow: column;
}

youtube-demo {
	max-width: 600px;
}

main.docs .toc ul {
	font-family: JetBrains Mono;
	list-style: none;
	padding-left: 1.5rem;
}

main.docs .toc ul li a:not(:hover) {
	text-decoration: none;
}

main.docs .toc a {
	line-height: 2rem;
}

@media (min-width: 1024px) {
	main.docs {
		position: relative;
		padding-left: calc(300px + var(--gap));
	}

	main.docs aside {
		left: var(--gap);
		position: sticky;
		top: 10rem;
	}

	main.docs .toc {
		left: -300px;
		position: absolute;
		top: -5rem;
	}
}

br[id],
hr[id] {
	scroll-margin-top: 5rem;
}

hr.large {
	margin: 4rem 0;
}

main.docs pre {
	background: #21252b;
	clip-path: polygon(
		1rem 0,
		100% 0,
		100% calc(100% - 1rem),
		calc(100% - 1rem) 100%,
		0 100%,
		0 1rem
	);
	display: grid;
	margin: 0;
	tab-size: 2;
	margin-bottom: 1rem;
}

main.docs pre .code-label {
	color: #5c6370;
	font-family: 'JetBrains Mono';
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 1.25em;
	padding: 0 14.4px;
}

main.docs .code-caption {
	color: #aaa;
	font-family: 'JetBrains Mono';
	font-size: 13px;
	font-weight: bold;
}

.hljs {
	line-height: 1.5;
}
