:root {
	background: initial;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.playground-container {
	display: flex;
	position: fixed;
	top: 4rem;
	right: 0;
	bottom: 0;
	left: 0;
}

@media (orientation: portrait) {
	.playground-container {
		flex-direction: column;
	}
}

#html,
#js {
	height: 100%;
}

.editors {
	display: flex;
	flex-direction: column;
}

#playground,
iframe {
	border: 0;
	flex-basis: 50%;
}
